@page "/favourites"
@page "/favs"
@page "/favorites"
@page "/favorite"
@page "/favourite"

<RadzenFieldset Style="margin-bottom: 20px;">
    <HeaderTemplate>
        <span>
            <b style="font-size:20px"><span class="oi oi-heart" /> Favourites</b>
        </span>
    </HeaderTemplate>
    <ChildContent>
        <p>This feature is not available yet sorry :3</p>
    </ChildContent>
</RadzenFieldset>

<style>
    b {
    color: #f22fa7;
}
.ui-fieldset {
   padding-bottom: 50%;
    border-color: #8a2061;
}
</style>
@code {

}
