@inherits LayoutComponentBase
@using Blazored.Modal
@using MatBlazor

<BlazoredModal />
<MatToastContainer />

<div class="sidebar">
    <NavMenu />
</div>
<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>


<style>
    .content, .main {
        color: white;
        background-color: #15202b;
    }
</style>
