@using MatBlazor

@if (Session.LoggedIn)
{
    <div class="usermenu">
        <RadzenImage Path="@Session.State.User.GetAvatarUrl(128)"></RadzenImage>
        @Session.State.User.GetUser().username
        <br />
        <MatTooltip Tooltip="Favourites" Wrap="true" Position="MatTooltipPosition.Top">
            <a href="/settings/favourites"><MatButton Class="menuicon menuicon-fav" Icon="favorite"></MatButton></a>
        </MatTooltip>
        <MatTooltip Tooltip="Settings" Wrap="true" Position="MatTooltipPosition.Top">
            <a href="/settings"><MatButton Class="menuicon menuicon-set" Icon="settings"></MatButton></a>
        </MatTooltip>
        <MatTooltip Tooltip="Logout" Wrap="true" Position="MatTooltipPosition.Top">
            <a href="/logout"><MatButton Class="menuicon menuicon-logout" Icon="exit_to_app"></MatButton></a>
        </MatTooltip>
    </div>
}
else
{
    <div class="usermenu">
        <RadzenImage Path="https://cdn.discordapp.com/embed/avatars/2.png"></RadzenImage>
        User
        <br />
        <MatTooltip Tooltip="Settings" Wrap="true" Position="MatTooltipPosition.Top">
            <MatButton Class="menuicon menuicon-set" Icon="settings"></MatButton>
        </MatTooltip>
        <form action="/login" method="post">
            <MatTooltip Tooltip="Login" Wrap="true" Position="MatTooltipPosition.Top">
                <MatButton Class="menuicon menuicon-login" Icon="vpn_key">Login</MatButton>
            </MatTooltip>
        </form>
    </div>
}

@code {
    [CascadingParameter]
    private Session Session { get; set; }
}