@page "/admin"
@using Gallery.Database
@using ImageMagick
@using Gallery.Data
@using System.IO
@using MatBlazor
@attribute [Authorize(Roles = "owner, admin")]

<title>Admin</title>
<h3>Welcome to the admin page!</h3>

<h5>Albums: @DB.Albums.Count</h5>
<h5>Images: @DB.Images.Count</h5>
<h5>Tags: @DB.Tags.Count</h5>
<AuthorizeView Roles="owner">
    <button @onclick="TestClick">Regen thumbnails</button>
    <MatTextField @bind-Value="@Image" Label="Standard"></MatTextField>
    <button @onclick="DeleteImage">Delete image</button>

</AuthorizeView>



@code {
    public string Image = "";

    void DeleteImage()
    {
        if (DB.Images.TryGetValue(Image, out GImage Img))
        {
            DB.R.Db(Program.DatabaseName).Table("Images").Get(Img.id).Delete().RunNoReply(DB.Con);

            if (File.Exists(Img.GetFile(imageType.Full)))
                File.Delete(Img.GetFile(imageType.Full));

            if (File.Exists(Img.GetFile(imageType.Medium)))
                File.Delete(Img.GetFile(imageType.Medium));

            if (File.Exists(Img.GetFile(imageType.Thumbnail)))
                File.Delete(Img.GetFile(imageType.Thumbnail));

            //DB.HashSet.Remove(Img.file.hash);
            DB.Images.Remove(Image);
        }
    }

    void TestClick()
    {
        foreach(GImage i in DB.Images.Values)
        {
            using (FileStream fi = File.OpenRead(i.GetFile(imageType.Full)))
            {
                using (MagickImage image = new MagickImage(fi, new MagickReadSettings { ColorType = ColorType.Optimize }))
                {
                    image.Resize(792, 594);
                    image.Write(i.GetFile(imageType.Medium));
                    image.Resize(320, 320);
                    image.Write(i.GetFile(imageType.Thumbnail));
                }
            }
        }
        Console.WriteLine("DONE");
    }
}
