@page "/admin"
@using Gallery.Database
@using ImageMagick
@using Gallery.Data
@using System.IO
@attribute [Authorize(Roles = "owner, admin")]

<title>Admin</title>
<h3>Welcome to the admin page!</h3>

<h5>Albums: @DB.Albums.Count</h5>
<h5>Images: @DB.Images.Count</h5>
<h5>Tags: @DB.Tags.Count</h5>
<AuthorizeView Roles="owner">
    <button @onclick="TestClick">Test</button>
</AuthorizeView>



@code {
    void TestClick()
    {
        foreach(GImage i in DB.Images.Values)
        {
            Console.WriteLine(i.id);
            using (FileStream fi = File.OpenRead(i.GetFile(imageType.Full)))
            {
                using (MagickImage image = new MagickImage(fi, new MagickReadSettings { ColorType = ColorType.Optimize }))
                {
                    image.Resize(792, 594);
                    image.Write(i.GetFile(imageType.Medium));
                    image.Resize(320, 200);
                    image.Write(i.GetFile(imageType.Thumbnail));
                }
            }
        }
        Console.WriteLine("DONE");
    }
}
