@page "/"
@using MatBlazor
@using Gallery.Data
@using Gallery.Database

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
        You are logged in. 🎉🎉🎉

    </Authorized>
    <NotAuthorized>
        <h1>Hello random user</h1>
        0_o
        <form action="/login" method="post">
            <input type="hidden" name="Provider" value="Discord" />
            <button ButtonType="ButtonType.Submit">Login</button>
        </form>

    </NotAuthorized>
</AuthorizeView>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">

        @foreach (GAlbum a in DB.Albums.Values.Where(x => !x.isNsfw))
        {
        <div class="mat-layout-grid-cell">
            <MatCard class="demo-mat-card">
                <MatRipple>
                    <a href="@("/album/" + a.id.ToString())">
                        <MatCardContent>
                                <MatCardMedia Wide="true" Style="width:320px;" ImageUrl="@a.GetThumbnailImage()"></MatCardMedia>
                            
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        @a.name
                                    </MatHeadline6>
                                </div>
                        </MatCardContent>
                    </a>
                </MatRipple>
            </MatCard>
        </div>
        }
    </div>
</div>

<style>
    .demo-mat-card {
        max-width: 320px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>